body {
  font-family: "Montserrat";

}

.title-image {
  background-color: gray;
  margin: 2%;

}
.top-heading {
  margin: 5%;
}
/* Education Section */
.container-complementary-education {
  font-family: "Montserrat";
  color: black;
  font-size: 1rem;
}
.education-institution {
  color: black;
  font-size: 1.5rem;

}
.feature-box {
  padding: 3% 5%;
}
.education-title {
  color: #FFFFFF;
  font-size: 1.7rem;
  background-color: #01A9DB;
  border-bottom: 2px solid #025C7A;
  border-left: 20px solid #025C7A;
  width: 380px;

}
.education-text {
  color: black;
  text-align: justify;
  font-size: 1rem;

}
.abaut-me-title {
  background-color: #01A9DB;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin: 2px;

}
.right-container {
  background-color: #01A9DB;

}
/* Accomplishments Section */
.accomplishments-title {
  color: #fff;
  font-size: 2rem;
}
/* Work Experiense section */
.work-experince-title{
  color: #FFFFFF;
  font-size: 1.7rem;
  background-color: #01A9DB;
  border-bottom: 2px solid #025C7A;
  border-left: 20px solid #025C7A;
  width: 300px;
}
/* Carrosel Section */
.experience-image {
  width: 15%;
 border-radius: 100%;
 margin: 20px;
}
.social-icon {
    margin: 25px 15px;
}
/*Social icon sections */
.social-icon:hover {
  color: blue;
}

.nav-link {
  color: #fff;
  font-size: 2rem;
}
.heading-social-icon{
  color: #fff;
  font-size: 2rem;
  margin: 25px;
}
.heading-social-icon:hover{
  color: black;
  
}

#footer{
    background-color: black;
    padding: 2% 2%;
    text-align: center;
}
#title {
  background-color: gray;
  color: white;
}
#right-container, p {
  color: white;
  text-align: justify;
  font-size: 1rem;
}
/* Work Section */
#work-experience-container, h4 {
  color: black;
  text-align: justify;
  font-size: 1rem;
}

#carousel-experience{
  background-color: gray;
  font-family: "Montserrat";
  font-size: 2rem;
  text-align: center;
  color: white;
}
#copyright {
  text-align: center;
  color: #fff;

}
#education-professional-section {
  padding: 0% 1%;
  position: relative;

}

@media (max-width: 800px){
  .accomplishments-title, .abaut-me-title {
      text-aligin: center;
      font-size: 1.5rem;
  
  }
  }
 